ul {
    padding: 0;
    cursor: default;
    list-style: none;
}

li {
    background-color: blanchedalmond;
    margin-bottom: 5px;
}

li:hover {
    background-color: rgb(208, 195, 175);
}

.checked {
    text-decoration: line-through;
    background-color: #837c7c;
}

.close {
    position: absolute;
    right: 0;
    padding-right: 20px;
}